<div class="container portfolio-container">
	<div class="row">
		<div class="col-md-8">
			 <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%' %>

		</div>

		<div class="col-md-4">

			<hr>

			<h1><%= @portfolio_item.title %></h1>

			<em><%= @portfolio_item.subtitle %></em>

			<p><%= @portfolio_item.body %></p>

			<hr>

			<h3>Technologies Used:</h3>
			<% @portfolio_item.technologies.each do |t| %>

			<p><%= t.name %></p>
			<% end -%>

			<% if logged_in?(:site_admin) %>
			<div class="">
				<%= link_to "Edit Item", edit_porfolio_path(@portfolio_item), class: 'btn btn-warning'%>
			</div>
			<% end %>
		</div>
	</div>	
</div>

